<form id="searchQuiz">
    <h2>SEARCH FOR A QUIZ</h2>
    <textarea id="quizSearch"></textarea>
</form>

{{!-- a tags should link to appropriate quiz route --}}
<h2>FEATURED QUIZZES</h2>
<ul id="featuredQuizzes">
    {{#each featuredQuizzes}}
    <li>
        <a href="/quiz/{{this.id}}">{{this.quiz_name}}<img src={{this.image_tile}}></a>
    </li>
    {{/each}}
</ul>

<h2>ALL QUIZZES</h2>
<ul id="allQuizzes">
    {{#each allQuizzes}}
    <li>
        <a href="/quiz/{{this.id}}">{{this.quiz_name}}</a>
    </li>
    {{/each}}
</ul>

<ul id="searchedQuizzes" style="display: none;"></ul>