<h2>PERSONALITY COMPOSITE</h2>

<ul>
    {{#each archetypes}}
    <li>
        <p>TRAIT{{this.trait}}</p>
        <div>Number of results/Number of Tests{{this.results}} {{this.test}}</div>
    </li>
    {{/each}}
</ul>

<h2>QUIZ HISTORY</h2>

<ul id="history">
    {{#each quizHistory}}
    <li>
        <p>Quiz{{this.history}} {{this.personalityResult}}</p>
        <button data-next = "retakeButton" data-quizID={{this.quizID}}>RETAKE</button>
        <button data-next= "deleterButton" data-quizID={{this.quizID}}>DELETE</button>
    </li>
    {{/each}}
</ul>