{{!-- PERSONALITY COMPOSITE --}}
<div class="container">
    <div class="section">
        <h2 class="title">PERSONALITY COMPOSITE</h2>

        {{!-- ARCHETYPE BARS --}}
        {{!-- The archetype progress bars take the sum of users archetype points and spread them out across each bar --}}
        <div class="columns is-multiline">
            {{!-- Archetype 1: Warrior --}}
            <div class="column is-2">
                <p class="title is-size-4">WARRIOR</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_1}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 2: Child --}}
            <div class="column is-2">
                <p class="title is-size-4">CHILD</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_2}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 3: Orphan --}}
            <div class="column is-2">
                <p class="title is-size-4">ORPHAN</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_3}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 4: Creator --}}
            <div class="column is-2">
                <p class="title is-size-4">CREATOR</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_4}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 5: Caregiver --}}
            <div class="column is-2">
                <p class="title is-size-4">CAREGIVER</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_5}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 6: Mentor --}}
            <div class="column is-2">
                <p class="title is-size-4">MENTOR</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_6}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 7: Joker --}}
            <div class="column is-2">
                <p class="title is-size-4">JOKER</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_7}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 8: Magician --}}<div class="column is-2">
                <p class="title is-size-4">MAGICIAN</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_8}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 9: Ruler --}}
            <div class="column is-2">
                <p class="title is-size-4">RULER</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_9}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 10: Rebel --}}
            <div class="column is-2">
                <p class="title is-size-4">REBEL</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_10}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 11: Romantic --}}
            <div class="column is-2">
                <p class="title is-size-4">ROMANTIC</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_11}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
            {{!-- Archetype 12: PLACEHOLDER FOR ARCHETYPE12 --}}
            <div class="column is-2">
                <p class="title is-size-4">PLACEHOLDER</p>
            </div>
            <div class="column is-10">
                <progress class="progress" value="{{this.user.archetype_12}}" max="{{this.user.archetypeSum}}"></progress>
            </div>
        </div>
    </div>


    {{!-- USER'S QUIZ HISTORY --}}
    <div class="section">
        <h2 class="title">QUIZ HISTORY</h2>

        {{!-- TODO: Add styling to the quizHistory cards --}}
        <ul id="history">
            {{#each this.quizHistory}}
            <div class="card mb-1">
                <div class="card-content">
                    <div class="columns">
                        <div class="column is-8">
                            <div class="columns">
                                <div class="column is-half">
                                    <p class="subtitle is-size-6">QUIZ NAME:</p>
                                    <p class="title is-size-5">{{this.quiz.quiz_name}}</p>
                                </div>
                                <div class="column is-half">
                                    <p class="subtitle is-size-6">YOU GOT:</p>
                                    <p class="title is-size-5">{{this.personality.personality_type}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="column is-4 has-text-right">
                            <button class="button is-primary" data-next="retakeButton"
                                data-quizID={{this.id}}>RETAKE</button>
                            <button class="button is-danger" data-next="deleterButton"
                                data-quizID={{this.id}}>DELETE</button>
                        </div>
                    </div>
                </div>
            </div>
            {{else}}
            {{!-- If the user has not taken a quiz, display this text --}}
            <p>You have no history at this time. Please take a quiz to see some history!</p>
            {{/each}}
        </ul>
    </div>
</div>