<h2>PERSONALITY COMPOSITE</h2>

<ul>
    <li>Joker: {{this.user.archetype_1}}</li>
    <li>{{this.user.archetype_2}}</li>
    <li>{{this.user.archetype_3}}</li>
    <li>{{this.user.archetype_4}}</li>
    <li>{{this.user.archetype_5}}</li>
    <li>{{this.user.archetype_6}}</li>
    <li>{{this.user.archetype_7}}</li>
    <li>{{this.user.archetype_8}}</li>
    <li>{{this.user.archetype_9}}</li>
    <li>{{this.user.archetype_10}}</li>
    <li>{{this.user.archetype_11}}</li>
    <li>{{this.user.archetype_12}}</li>
</ul>

<h2>QUIZ HISTORY</h2>

<ul id="history">
    {{#each this.quizHistory}}
    <li>
        {{!-- We will need to replace the personality id with the personality using a join --}}
        <p>Quiz NAME PERSONALITY ID:{{this.personalityId}}</p>
        <button data-next = "retakeButton" data-quizID={{this.id}}>RETAKE</button>
        <button data-next= "deleterButton" data-quizID={{this.id}}>DELETE</button>
    </li>
    {{/each}}
</ul>